div{
  display: block;
  margin-left: 150px;
}

 #email-address:valid{
  background: lightgreen;
}

#email-address:invalid{
  background: lightcoral;
}
#phone:valid{
background-color: lightgreen;
}
#phone:invalid{
background-color: lightcoral;
}
#url:valid{
  background-color:lightgreen ;
}
#url:invalid{
  background-color:lightcoral ;
} 